* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
html {

    font-family: 'Red Hat Display', sans-serif;
    overflow: hidden;
    background-color: hsl(225, 100%, 94%);
    background-image: url(https://stephlinya.github.io/order-summary/images/pattern-background-desktop.svg);
    background-size: 100% 100%;
    background-position: center;
}

body{
    display: grid;
    place-items: center;
    min-height: 100vh;
}

footer {
    display: none;
}

.container {
    width: 70%;
    max-width: 28em;
    text-align: center;
    line-height: 2.1em;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 1.5em;
    margin: 1.5rem;
    
}

.hero-img{
    margin: 0;
    background-image: url(https://stephlinya.github.io/order-summary/images/illustration-hero.svg);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    min-height: 13rem;
    width: 100%;
    border-radius: 1.5em 1.5em 0 0;

}

.content{
    padding: 0.5rem;
    
}

h1{
    margin: 1rem 0;
}

#product-summary { 
    color: hsl(224, 23%, 55%);
    width: 85%;
    margin: .5rem auto;

}

.pricing-block{
    box-sizing: border-box;
    display: flex;
    margin: 1rem auto;
    padding: 1rem 0.5rem;
    width: 90%;
    background-color: hsl(225, 100%, 98%);
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;

}

#music-icon{
    width: 20%;
}

#price-description {
    width: 20%;
    text-align: left;
}
.accent-text{
    font-weight: 900;
}

.body-text{
    color: hsl(224, 23%, 55%);
}

#link {
    width: 40%;
    color: hsl(225, 100%, 94%);
}

a:hover, a:focus{
    opacity: .7;
    text-decoration: none;
}
#payment-button { 
    background-color: hsl(245, 75%, 52%);
    padding: 1.2rem;
    color: white;
    width: 90%;
    border-radius: 10px;
    border: none;
    font-weight: 700;
    font-size: 1.2rem;
    filter: drop-shadow(0 0.8rem 0.35rem hsl(225, 100%, 94%));   
}

#payment-button:hover, #payment-button:focus{
    opacity: .7;
}


#cancel-button {
    padding: 1.2em;
    width: 90%;
    border: none;
    color: hsl(224, 23%, 55%);
    background: none;
    font-weight: 700;
    font-size: 1.2rem;
}

#cancel-button:hover, #cancel-button:focus {
    color: black;
}

button{
    cursor: pointer;
    margin: 0.5rem 0;
}
