* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
html {

    font-family: 'Red Hat Display', sans-serif;
    overflow: hidden;
    background-color: hsl(225, 100%, 94%);
    background-image: url(/images/pattern-background-desktop.svg);
    background-size: 100% 100%;
    background-position: top right 10px;
}

body{
    display: grid;
    place-items: center;
    margin: 1rem;
}
.container {
    width: 70%;
    max-width: 28em;
    text-align: center;
    line-height: 2.1em;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 1.5em;
    
}

.hero-img{
    margin: 0;
    background-image: url(/images/illustration-hero.svg);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    min-height: 10em;
    width: 100%;
    border-radius: 1.5em 1.5em 0 0;

}

.content{
    padding: 0.5rem;
    
}

h1{
    margin: 1rem 0;
}

#product-summary { 
    margin-bottom: 0.5rem;
    color: hsl(224, 23%, 55%);

}

.pricing-block{
    box-sizing: border-box;
    display: flex;
    margin: 0 auto;
    padding: 0.5rem;
    width: 90%;
    background-color: hsl(225, 100%, 98%);
    border-radius: 10px;
    align-items: center;
    
}

#music-icon{
    padding: 0.5rem;
}

#price-description {
    padding: 0.5rem;
    text-align: center;
}

#link {
    flex: 2;
}

#payment-button { 
    background-color: hsl(245, 75%, 52%);
    padding: 1.2em;
    color: white;
    width: 90%;
    border-radius: 10px;
    border: none;
    font-weight: 700;
    font-size: 1.2rem;
    margin-top: 1rem;
}

#cancel-button {
    padding: 1.2em;
    width: 90%;
    border: none;
    color: hsl(224, 23%, 55%);
    background: none;
    font-weight: 700;
    font-size: 1.2rem;
}

